@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #e0f0ff;
  --color-secondary: #E8F5E9;
  --color-accent: #FFAB91;
  --color-background-light: #f5f7f8;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans bg-background-light text-slate-900;
}
